<div class="page-header header-filter" style="background-image: url('./assets/img/07.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <img class = "mx-auto d-block" src="./assets/img/main-logo.png">
        <div class="card card-login">
          <form class="form has-danger" method="" action="">
            <div class="card-header card-header-danger text-center">
              <h4 class="card-title">After posting an event picture on Instagram with #boxwinner,
                 enter your public instagram profile's username.</h4>
            </div>
            <p class="description text-center">Note: Private accounts won't work.</p>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="@instagram">
              </div>
            </div>
            <div class="footer text-center">
              <a href="#pablo" class="btn btn-danger btn-link btn-wd btn-lg">Submit</a>
            </div>
          </form>
        </div>
        <div class="text-center">
            <a href="ambient-feed.html" class="btn btn-white btn-link btn-wd btn-lg">Go Back</a>
          </div>
      </div>
    </div>
  </div>
</div>
