
  <div class="page-header header-filter" style="background-image: url('/assets/img/bg.png'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
          <img class = "mx-auto d-block" src="/assets/img/main-logo.png">
          <div class="card card-login">
            <form class="form has-danger" method="" action="">
              <div class="card-header card-header-danger text-center">
                <h4 class="card-title">After posting an event picture on Instagram with #boxwinner,
                   enter your public instagram profile's username.</h4>
              </div>
              <p class="description text-center">Note: Private accounts won't work.</p>
              <div class="card-body border border-danger border-3 rounded mx-lg-2 mx-md-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <img src="/assets/img/ig-logo-email.png" alt="">
                  </div>
                  <input type="text" [(ngModel)]="handle"   [ngModelOptions]="{standalone: true}" class="form-control my-auto pl-lg-3 pl-md-3" placeholder="ENTER YOUR INSTAGRAM USERNAME HERE">
                </div>
              </div>
              <div class="footer text-center">
                <a (click)="kaaroFunction(handle)" class="btn btn-danger btn-lg btn-wd">Submit</a>
              </div>
            </form>
          </div>
          <div class="text-center">
              <a routerLink="/" class="btn btn-white btn-link btn-wd btn-lg">Go Back</a>
            </div>
        </div>
      </div>
    </div>
  </div>
