@import '../../../node_modules/simple-keyboard/build/css/index';
.simple-keyboard {
  z-index: 1000;
}
.simple-keyboard.hg-theme-default .hg-button{
  font-weight: 900;
  font-size: 1.7em;
  height:70px;
  color: #555;
  margin:4px;
}
