<div>
  <div style="text-align:left;">
    <span routerLink="/" style="font-size:18px;line-height:1; text-align:left;border-bottom:1px solid #555;padding:20px;margin:0">      <i style="font-size:24px;line-height:1" class="material-icons">keyboard_arrow_left</i>
      Tutorial</span>
  </div>
    <div style="width:100% ;height:100%; overflow:hidden; color:#fff ;text-align:center;background-color: #6e57a5;margin-top:0" class="row">
    <div class="col-lg-12 col-md-12 ml-auto mr-auto">
      <div>
        <form  method="" action="">
          <div class="row">
            <div class="col-lg-12 col-md-12 ml-auto mr-auto">
              <h2 class="card-title" style="letter-spacing:2px;word-spacing:5px;">
              Isn't this #KhushiyonKaSeason in Mall of India.</h2>
            </div>
          </div>
          <div class="card-body mx-lg-2 mx-md-2">
              <input type="text" [(ngModel)]="handle" [ngModelOptions]="{standalone: true}"
                class="form-control my-auto" style="border-width:0;height:30px; background-color:#fff" placeholder="Instagram username"
                disabled>
                <a (click)="kaaroFunction(handle)" class='btn btn-danger btn-wd submit-button' style="background-color:#faed22 !important;color:#6e57a5!important;">Submit <span style="font-size:30px"> &rarr; </span></a>
            </div>
<!--             <h3 class=" text-center">Note: Post on Instagram with #KhushiyonKaSeason in caption and WIN.</h3> -->
    <ul>
      <li>
        Step 1: <b> Click a photo inside Mall of India </b>
      </li>
      <li>
        Step 2: <b> Share on Instagram with <i>#KhushiyonKaSeason</i> in caption and add DLF Mall of India in Location </b>
      </li>
      <li>
        Step 3: <b> Enter instagram handle here and stand a win coupons worth upto Rs.5000 </b> 
      </li>
    </ul>
          <div class="simple-keyboard"></div>
        </form>
      </div>
      <!-- <div class="text-center">
        <span style="font-size:24px;">&#x2190;
          <span routerLink="/" style="font-size:18px; border-bottom:1px solid #555;"> Go Back</span>
        </span>
      </div> -->
    </div>
  </div>
</div>

<!-- style="font-size:20px;font-weight:400; color:red;border:2px solid red
;padding:10px 20px;border-radius:40px; display:inline-block" -->
