<!-- <div>
  <a routerLink="push"><video id="vid" src="../assets/video/start_page.mp4" autoplay="true" ></video></a>
  <div class="container" routerLink="push">
    <div class="howToWin">
      HOW TO WIN!
    </div>
    <div class="features-logos">

      <div class="feature-each">
        click-photos
      </div>
      <div class="feature-each">
        Hashtag
      </div>
      <div class="feature-each">
        Win
      </div>

    </div>
    <div class="features-description">

      <div class="feature-each">
        Click a photo!
      </div>
      <div class="feature-each">
        #KhushiyonKaSeason
      </div>
      <div class="feature-each">
        Win!
      </div>

    </div>
  </div>
</div> -->

<div style="width:100% ;margin:auto; text-align:center;" class="row" routerLink="push">
  <!-- <video id="vid" src="../assets/video/start_page.mp4" autoplay="true" loop="true"></video> -->
  
</div>
