.container {
  display: flex;
  height: 100vh;
  flex-direction: column;

  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

.moving-staple {
  max-height: 60%;
  overflow: hidden;
}
.bg-purple{
  background-color: #6e57a5;
}
.animation-image {
  animation-name: glow;
  animation-duration: 1s;
  animation-delay: 0s;
}
.instagram-post-name{
  font-size:30px;
  color : #faed22!important;
  padding-bottom: 40px;
}
.instagram-post-name{
  font-size: 25px!important;
  color: #6e57a5!important;
}
.instagram-post-desc {
  font-size: 18px!important;
  font-family: montserrat;
  color: #6e57a5!important;
  font-weight: 600;
}
@keyframes glow {
  0%{
    transform: scale(0)
  }
  80%{
    transform: scale(1.5)
  }
  0%{
    transform: scale(1);
    }
}

#wheel-fortune {
  -webkit-animation: rotation 6s infinite linear;
  display:block;
  margin:auto;

}
.calculating-prize{
  display:block;
  margin:auto;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}