<div class="page-header header-filter" style="background-image: url('./assets/img/bg.png'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 ml-auto mr-auto">
              <div>
                      <img class = "mx-auto d-block" src="./assets/img/main-logo.png">

                      <h1 class="info-title mx-auto text-center">THANK-YOU</h1>
                      <h3 class="text-center">You are being redirected, Please Wait...</h3>
              </div>
            </div>
    </div>
  </div>
</div>
